*{
  margin: 5px 5px;
  padding: 3px;
}
body{
  background-color: whitesmoke;
}

header{
  display: block;
  text-align: center;
}

ul{
  display: block;
  align-items: center;
  text-align:justify;
}

#img-div{
  width: 100%;
  text-align: center;
  background-color: white;
  
}
#image{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}